@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media only screen and (max-width: 576px) {
  /* Opening Section */
  .opening h3 {
    font-size: 20px !important;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .opening .text-center {
    text-align: center !important;
  }

  .opening img {
    width: 360px;
    height: 240px;
    margin-top: 2rem;
  }

  .opening a {
    margin-left: 1rem;
    display: block;
  }

  .opening .row {
    flex-flow: column-reverse;
  }

  /* Akhir Opening Section */

  /* My Project Section */
  .prt-btn {
    margin-left: 1rem;
  }

  .project img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    display: block;
  }
  .project h3 {
    margin-top: 5rem !important;
    margin-bottom: 2rem !important;
  }

  .project h5 {
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
  }

  .project p {
    font-size: 15px;
    margin: 0rem 1rem;
  }

  .project a {
    margin-top: 10px;
    display: block;
  }

  /* Akhir My Project */

  /* My Tools Section */
  .mytools .col-2 {
    margin: 0 10px;
  }

  .mytools h3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .mytools img {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 2rem !important;
  }

  /* Akhir My Tools */

  /* Footer Section */
  .ftr h5 {
    font-size: 18px;
  }

  .ftr img {
    width: 45px !important;
  }

  .ftr p {
    margin-top: 1rem;
    font-size: 18px !important;
  }

  .mailtxt {
    display: none;
  }

  .mailbtn {
    border: solid 3px black;
    border-radius: 50px;
    font-size: 16px !important;
    display: block !important;
    margin-right: 9rem !important;
  }

  /* Akhir Footer */
}

/* Navbar */
nav img {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-nav {
  margin-right: 10rem;
}

.nav-link p {
  margin-right: 3rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
  font-weight: bold;
}

.navbar-link p:hover {
  color: black;
  text-decoration: underline;
}

.navbar-link p:focus {
  text-decoration: underline;
  color: black;
}

nav {
  border-bottom: solid 3px black;
}

/* Akhir Navbar */

/* Opening Section */

.opening h3 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  text-align: justify;
}

.opening .btn {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: #1cef1c;
  border-radius: 50px;
  border: solid 2px black;
}
/* Akhir Opening Section */

/* My Project Section */
.project {
  margin-bottom: 5rem;
}

.project h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.project h5 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.project img {
  width: 360px;
  height: 202.5px;
}

.project p {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: justify;
}

.project a {
  border: solid 2px black;
  border-radius: 50px;
  margin-right: 10px;
}

.project .btn img {
  text-align: left !important;
}

/* Akhir My Project */

/* My Tools Section */
.mytools img {
  width: 100px;
  height: 100px;
  margin-bottom: 3rem;
}

.mytools h3 {
  margin-top: 10rem;
  margin-bottom: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
/* Akhir My Tools */

/* Footer */

footer {
  border-top: 3px solid #000;
}

.ftr {
  margin-top: 1rem;
}

.ig,
.wa {
  width: 50px;
  margin-right: 1rem;
  justify-content: center;
}

.twt {
  width: 54px;
  margin-right: 1rem;
  justify-content: center;
}
.ftr h5 {
  text-align: start;
  margin-left: 8px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.ftr p {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}

.ftr a {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  color: black;
}

.mailbtn {
  display: none;
}

.wmcr {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
/* Akhir Footer */
